streamlit
python-dotenv
openai
langchain
langchain-openai
langchain-google-genai
langchain_experimental
langchain_cohere
anthropic
cohere
beautifulsoup4
faiss-cpu
chromadb
pypdf
unstructured
networkx
openpyxl
rapidocr-onnxruntime
black
isort

